body, html {
	font-family: 'Open Sans', sans-serif;
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
	color: #777;
	font-weight: 400;
	width: 100% !important;
	height: 100% !important;
}
/* Navigation */
#menu {
	padding-top: 15px;
	transition: all 0.8s;
}
#menu.navbar-default {
	background-color: #fff;
	border-color: rgba(231, 231, 231, 0);
	box-shadow: 0 0 10px rgba(0,0,0,0.15)
}
#menu a.navbar-brand {
	font-family: 'Raleway', sans-serif;
	font-size: 24px;
	font-weight: 700;
	color: #46b8da;
	text-transform: uppercase;
}
#menu.navbar-default .navbar-nav > li > a {
	font-family: 'Lato', sans-serif;
	text-transform: uppercase;
	color: #555;
	font-size: 15px;
	font-weight: 400;
	padding: 8px 0px;
	border-radius: 0;
	margin: 9px 20px 0 20px;
}
#menu.navbar-default .navbar-nav > li > a:after {
	display: block;
	position: absolute;
	left: 0;
	bottom: -1px;
	width: 0;
	height: 2px;
	background: linear-gradient(to right, #6372ff 0%, #5ca9fb 100%);
	content: "";
	transition: width 0.2s;
}
#menu.navbar-default .navbar-nav > li > a:hover:after {
	width: 100%;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	background-color: transparent;
}
.navbar-default .navbar-nav > .active > a:after, .navbar-default .navbar-nav > .active > a:hover:after, .navbar-default .navbar-nav > .active > a:focus:after {
	display: block !important;
	position: absolute !important;
	left: 0 !important;
	bottom: -1px !important;
	width: 100% !important;
	height: 2px !important;
	background: linear-gradient(to right, #6372ff 0%, #5ca9fb 100%) !important;
	content: "" !important;
	transition: width 0.2s !important;
}
.navbar-toggle {
	border-radius: 0;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
	background-color: #fff;
	border-color: #608dfd;
}
.navbar-default .navbar-toggle:hover>.icon-bar {
	background-color: #608dfd;
}
.search {
    margin-top: 20px;
}
.fa-search {
	margin-top:20px; 
}
/* tästä ylöspäin on navbariin liittyvät muotoilut */
.cuteDogArea {
    padding-top: 70px;
}
.dog1 {
    float: left;
}
.welcome {
    background-color: yellow;
    display: block;
    float: right;
    margin-top: 150px;
    margin-right: 350px;

}
.whoWeAre {
	width: 100%;
	height: 500px;
	background-color: #ebebeb;
	padding-right: 50px;
	padding-left: 50px;
}
.battle-pig {
    width:100%;
	height:350px;
   /*  float: right; */
    display: inline-block;
	background-color: #ACEAEA;
	padding-right: 40px;
	padding-left: 40px;
}

/* .animal-of-the-month {
	display: inline-block;
	width: 1000px;
	height: 400px;
	background-color: #8BD2D2;
	padding-right: 10px;
	padding-left: 10px;
	margin-right: 400px;
	margin-left: 270px;
	margin-top: 40px;
	margin-bottom: 100px;
} */

/* .fb-section {
	width:380px;
	height:350px;
	float:left;
	background-color: #ebebeb;
	padding-right: 40px;
	padding-left: 40px;
	margin-left: 10px;
	border-style: double;
	border-color: #46b8da;
} */
.footer {
	position: relative;
	left: 0;
    bottom: 0;
    right: 0;
	width: 100%;
	height: 60px;
	background-color: #46b8da;
	color: white;
	text-align: left;
}